$light-gray: #efefef;
$dark-gray: #212121;

$text-primary: #ff5589;
$text-secondary: #3082cc;
$text-light-gray-primary: #efefef;
$text-dark-gray-primary: #212121;

$theme-primary: #ff5589;
$theme-secondary: #3082cc;
$theme-secondary-dark: #3376b2;

$background-primary: $theme-secondary-dark;
$background-highlight: $theme-primary;
